#the-canvas {
    border: 1px solid black;
    direction: ltr;
}

html,
body {
	min-height: 100vh;
    margin: 0px;
}

h1, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hdr {
    flex-grow: 0;
}

.ftr {
    height: 200px;
}

.flexitem {
    
}

.content {
    flex: 8;
    height: 100vh;
    overflow: hidden;
    border: 2px solid black;
}

.myflex {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}